#nav_title {
    
    
    margin-left: 50px;
    font-size: 36px;
    color: white;
    font-weight: bold;
}

h1 {
    color: #0840a8;
    font-weight: bold;
    font-size: 250%;
}

p {
    font-size: 24px;
}

